<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{% block title %}ITU{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('images/favicons/manifest.json') }}">
		<link rel="mask-icon" href="{{ asset('images/favicons/safari-pinned-tab.svg" color="#5bbad5') }}">
		<link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico') }}">
		<meta name="msapplication-config" content="{{ asset('images/favicons/browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" media="none" type="text/css" href="{{ asset('jquery/jquery-ui.css') }}" onload="if(media!='all')media='all'">
		<noscript>
			<link rel="stylesheet" type="text/css" href="{{ asset('jquery/jquery-ui.css') }}">
		</noscript>

		<link rel="stylesheet" href="{{ asset('jquery/jquery-ui.css') }}">
		<link rel="stylesheet" href="{{ asset('jquery/pickadate/default.css') }}">
		<link rel="stylesheet" href="{{ asset('jquery/pickadate/default.date.css') }}">
		<link rel="stylesheet" href="{{ asset('jquery/pickadate/default.time.css') }}">
		{#<link rel="stylesheet" href="{{ asset('jquery/jquery.datetimepicker.css') }}">#}
		<script src="{{ asset('jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('jquery/jquery-1.12.1-ui.js') }}"></script>
		<script src="{{ asset('jquery/jquery.ui.touch-punch.min.js') }}"></script>
		<script src="{{ asset('jquery/pickadate/legacy.js') }}"></script>
		<script src="{{ asset('jquery/pickadate/picker.js') }}"></script>
		<script src="{{ asset('jquery/pickadate/picker.date.js') }}"></script>
		<script src="{{ asset('jquery/pickadate/picker.time.js') }}"></script>
		<script src="{{ asset('jquery/pickadate/cs_CZ.js') }}"></script>
		{#<script src="{{ asset('jquery/jquery.datetimepicker.js') }}"></script>#}

		<link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/icons.css') }}" />

		{% if jsController is defined and jsAction is defined%}
			<input type="hidden" data-controller="name" value="{{ jsController }}">
			<input type="hidden" data-controller="action" value="{{ jsAction }}">
		{% endif %}
	</head>

	<body {% if hideCompleted is defined and hideCompleted %} class="hide-completed" {% endif %} >
		<div class="page-wrapper" >

			<header class="header h">
				<a href="{{ path('fos_user_security_logout') }}" title="Odhlásit se" class="btn--logout"></a>

				<input type="checkbox" class="mm-toogle__input hidden" id="mm-toogler__input">
				<label for="mm-toogler__input" class="mm-toogler">
					<span class="mm-toogler__btn"></span>
					<span class="mm-toogler__btn"></span>
					<span class="mm-toogler__btn"></span>
					<span class="mm-toogler__title">Menu</span>
				</label>

			{% block menu %}
			{% endblock %}

			</header>

			<div class="cwrapper">
				<div class="container">
					{% block body %}{% endblock %}
				</div>
			</div>

			<footer class="footer">
			</footer>

			{# Template for flash messages use clases for msg: fl__msg--info, fl__msg--error, fl__msg--success, fl__msg--warning #}
			<div class="fl__wrap hidden" data-selector="flashMsgWrapper">
			</div>

			{# Modal window template, add mw--active for show #}
			<div class="mw" data-selector="modalWrapper">
				<div class="mw__content__wrap">
					<a href="#" class="mw__close" data-selector="modalClosers"></a>
					<div class="mw__content" data-selector="modalContainer">
						gvhbjnk
					</div>
				</div>
			</div>

			<script type="application/javascript" src="{{ asset('js/dist/bundle.js') }}"></script>
			{% block javascripts %}
			{% endblock %}
		</div>
	</body>
</html>
