{% extends 'base.html.twig' %}

{% block body %}
{# 	<p data-selector="someName">selector</p>
	<p data-multipleSelector="someOtherName">multipleSelector1</p>
	<p data-multipleSelector="someOtherName">multipleSelector</p> #}

{% for i in 0..10 %}
	<div class="pr">
		<div class="pr__header">
			<h2 class="pr__title">Název projektu</h2>
			<div class="pr__action">
				<a href="#">E</a>
			</div>
		</div>

		<ul class="pr__content">
			{% for i in 0..4 %}

				<li class="ts">
					{# open edit action #}
					<a href="#">
						<p class="ts__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores deserunt eaque nobis, tempore error, ipsa</p>
					</a>

						{# hide and send ajax #}
						<input type="checkbox" class="hidden" id="checkbox-{{i}}">
						<label for="checkbox-{{i}}" class="ts__checkbox"></label>

						<div class="ts__adons">
							{# add real prirotity #}
							<span class="ts__priority ts__priority--{{i}}"></span>
							<span class="ts__date">20.12.2017 - 20.12.2017</span>
						</div>
				</li>

			{% endfor %}
		</ul>
	</div>
{% endfor %}


	<div class="add_wrapper">
		<button class="btn--fixed-add"></button>
	</div>

	<div class="mw">

	</div>

	<div class="fl__wrap hidden" data-selector="flashMsgWrapper">
		<p class="fl__msg fl__msg--info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<p class="fl__msg fl__msg--error">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<p class="fl__msg fl__msg--success">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<p class="fl__msg fl__msg--warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>

<div class="mw">
	<div class="mw__content__wrap">
		<a href="#" class="mw__close"></a>
		<div class="mw__content"></div>
	</div>
</div>


{# <div class="pr">
	<div class="pr__header">
		<h2 class="pr__title">{{ project.name }}</h2>
		<div class="pr__action"></div>
	</div>

	<div class="pr__content ts">
		<a href="{{ path('task_edit', { 'id': task.id }) }}">
			<h3 class="ts__title">{{ task.name }}</h3>
			<div class="ts__adons">
				<span class="ts__priority ts__priority--{{ task.priority }}"></span>
				<span class="ts__date">{% if task.createdAt %}{{ task.createdAt|date('Y-m-d H:i:s') }}{% endif %}</span>
				<span class="ts__date">{% if task.due %}{{ task.due|date('Y-m-d H:i:s') }}{% endif %}</span>
			</div>
		</a>
	</div>
</div> #}
{% endblock %}

