{# Our light template for FOSuserBundle layout #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #f9f9f9;
				font-family: "Trebuchet MS", Tahoma, sans-serif;
			}

			body * {
				box-sizing: border-box;
			}

			ul {
				list-style: none;
				padding: 0;
				font-size: 12px;
				color: red;
			}

			.fm {
				display: block;
				max-width: 320px;
				font-family: "Trebuchet MS", Tahoma, sans-serif;
				margin: 10px;
				background: #ababab;
				padding: 32px;
				background-image: linear-gradient(#f1f1f1, #efefef);
				box-shadow: 2px 2px 6px 1px #e0e0e0b5;
				border:  1px solid #e0e0e0;
			}

			label {
				margin-bottom: 8px;
				display: block;
				font-family: "Trebuchet MS", Tahoma, sans-serif;
				font-size: 14px;
				font-weight: 700;
			}

			label[for="remember_me"] {
				display: inline-block;
				cursor: pointer;
				font-size: 12px;
				font-weight: 500;
				vertical-align: middle;
			}

			input {
				background: #fff;
				font-family: "Trebuchet MS", Tahoma, sans-serif;
				border: 1px solid #ececec;
				outline: 0 none;
			}

			input[type="checkbox"] {
				margin: 0 3px;
				vertical-align: top;
			}

			input:not([type="checkbox"]) {
				width: 100%;
				margin-bottom: 12px;
				padding: 12px;
				font-size: 14px;
			}

			input[type="submit"] {
				-webkit-appearance: none;
				display: block;
				cursor: pointer;
				transition: .3s;
				max-width: 50%;
				margin: 10px auto;
				line-height: 24px;
				border-radius: 3px;
				background: #01a4e2;
				color: #fff;
			}

			input[type="submit"]:hover {
				background: #5dcdf8;
			}


			img {
				height: 80px;
				margin: 0 auto 30px;
				display: block;
			}

			.ub--hide {
				display: none;
			}

			a {
				font-size: 14px;
				text-align: center;
				display: block;
				margin-top: 16px;
				color: #1796c7;
			}

			@media all and (min-width: 560px) {
				.fm {
					margin: 60px auto;
				}
			}


		</style>

		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('images/favicons/manifest.json') }}">
		<link rel="mask-icon" href="{{ asset('images/favicons/safari-pinned-tab.svg" color="#5bbad5') }}">
		<link rel="shortcut icon" href="{{ asset('images/favicons/favicon.ico') }}">
		<meta name="msapplication-config" content="{{ asset('images/favicons/browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">

		<title>{% block title %}ITU{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
			<div class="ub ub--hide">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
					<a href="{{ path('fos_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
					</a>
				{% else %}
					<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
				{% endif %}
			</div>

{# 			{% if app.request.hasPreviousSession %}
				{% for type, messages in app.session.flashbag.all() %}
					{% for message in messages %}
						<div class="flash-{{ type }}">
								{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %} #}

			<div class="fm">
				{% block fos_user_content %}
				{% endblock fos_user_content %}
			</div>
	</body>
</html>
