{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" title="Upravit"></button>
{{ form_end(form) }}


{{ form_start(deleteForm) }}
	{{ form_widget(deleteForm) }}
	<button type="submit" class="delete">Smazat</button>
{{ form_end(deleteForm) }}
