<div class="pr" data-default-project="{{ project.default }}" data-sort-name="{{ project.id }}">
    <div class="pr__header ca" data-handle="project" data-edit-url="{{ path('project_edit_form', {id: project.id}) }}">
        <h2 class="pr__title">{{ project.name }}</h2>
        <div class="pr__action">
            {% if not project.default %}
                {#nedovolime upravit vychozi projekt pro tasky bez projektu#}
                <span data-edit-url="{{ path('project_edit_form', {id: project.id}) }}" data-multipleSelector="editProject" class="btn--edit"></span>
            {% endif %}
            <span data-new-url="{{ path('task_new_form', {'id': project.id}) }}" class="btn--add"></span>
        </div>
    </div>

    <ul data-sortGroup="tasks" class="pr__content" data-sortable="{{ {url:path('project_reorder_tasks', {'id': project.id}) , settings: {placeholder: 'ui-state-highlight', handle: '.ts__title'} }|json_encode }}">
        {% set completed = {} %}
        {% for task in project.tasks %}
            {% if task.completed %}
                {% set completed = completed|merge([task]) %}
            {% else %}
                {#//task#}
                {% include "task/show.html.twig" with {'task': task} %}
            {% endif %}
        {% endfor %}

        {% for task in completed %}
            {% include "task/show.html.twig" with {'task': task} %}
        {% endfor %}
    </ul>
</div>
