{{ form_start(form) }}
	{{ form_row(form.name) }}
  <div class="fm__selectbox">
  	{{ form_row(form.priority) }}
  </div>
  {{ form_row(form.due) }}
  <div>
		<button type="submit" value="Smazat">Upravit</button>
	</div>
{{ form_end(form) }}



{{ form_start(deleteForm) }}
   {{ form_widget(deleteForm) }}
	<button type="submit" value="Smazat" class="delete">Smazat</button>
{{ form_end(deleteForm) }}
