{{ form_start(form) }}

	{{ form_row(form.name) }}
  <div class="fm__selectbox">
  	{{ form_row(form.priority) }}
  </div>
  {{ form_widget(form) }}

  <div>
		<button type="submit">Vytvořit</button>
	</div>
{{ form_end(form) }}
