<li data-sort-name="{{ task.id }}" data-edit-url="{{ path('task_edit_form', {id: task.id}) }}" class="ui-state-default ts {% if task.completed %} ts--completed {% endif %}">

    <p class="ts__title" title="upravit">{{ task.name }}</p>

    <input data-multipleSelector="completeCheck" data-url="{{ path('task_set_completed', {id: task.id}) }}" type="checkbox" class="hidden" id="checkbox-{{ task.id }}" {% if task.completed %} checked {% endif %}>
    <label for="checkbox-{{ task.id }}" class="ts__checkbox"></label>

    <div class="ts__adons">
        <span class="ts__priority ts__priority--{{ task.priority }}"></span>
        <span class="ts__date">{% if task.createdAt %}{{ task.createdAt|date('d.M H:i') }}{% endif %} - {% if task.due %}{{ task.due|date('d.M H:i') }}{% endif %}</span>
    </div>
</li>
