<li data-sort-name="{{ task.id }}" data-edit-url="{{ path('task_edit_form', {id: task.id}) }}" class="ui-state-default ts {% if task.completed %} ts--completed {% endif %}">

    {#TODO @DAVE přidat cursor pointer#}
    <span>
        <p class="ts__title">{{ task.name }}</p>
    </span>

    <input data-multipleSelector="completeCheck" data-url="{{ path('task_set_completed', {id: task.id}) }}" type="checkbox" class="hidden" id="checkbox-{{ task.id }}" {% if task.completed %} checked {% endif %}>
    <label for="checkbox-{{ task.id }}" class="ts__checkbox"></label>

    <div class="ts__adons">
        <span class="ts__priority ts__priority--{{ task.priority }}"></span>
        <span class="ts__date">{% if task.createdAt %}{{ task.createdAt|date('Y-m-d H:i:s') }}{% endif %}{% if task.due %} - {{ task.due|date('Y-m-d H:i:s') }}{% endif %}</span>
    </div>
</li>